body { 
    font-family: 'Arial', serif;
    background-color: #f4e7f2;
}

.link { stroke: #ead8e5; stroke-width: 2px; }
.node { cursor: grab; }
.parent-node { fill: #946e88; transition: filter 0.3s; }
.parent-node:hover { filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.15)); }
.child-node { fill: #d2a6c4; transition: filter 0.3s; }
.child-node:hover { filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.15)); }
.controls {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background: #ead8e5;
    border-radius: 5px;
    border: 1px solid #cdb3c6;
}
.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Full height to center vertically */
}
input, button {
    padding: 5px;
    margin: 5px;
}
.node text {
    fill: #604156;
    font-size: 20px;
} 